<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />

    <!-- Site Title -->
    <title>Saral - Digital Marketing & Brand Building Agency</title>

    <!-- Place favicon.ico in the root directory -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/img/favicon.jpg"
    />

    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/fontawesome.min.css" />
    <link rel="stylesheet" href="assets/css/venobox.min.css" />
    <link rel="stylesheet" href="assets/css/animate.min.css" />
    <link rel="stylesheet" href="assets/css/keyframe-animation.css" />
    <link rel="stylesheet" href="assets/css/odometer.min.css" />
    <link rel="stylesheet" href="assets/css/nice-select.css" />
    <link rel="stylesheet" href="assets/css/swiper.min.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>
  <body>
    <header class="header header-2 header-5 sticky-active">
      <div class="primary-header">
        <div class="header-container">
          <div class="primary-header-inner inner-2">
            <div class="header-logo d-lg-block">
              <a href="index">
                <img
                  class="light"
                  src="assets/img/logo/logo-light.png"
                  alt="Logo"
                />
                <img
                  class="dark"
                  src="assets/img/logo/logo-dark.png"
                  alt="Logo"
                />
              </a>
            </div>
            <div class="header-menu-wrap">
              <div class="mobile-menu-items">
                <ul>
                  <li class="active">
                    <a href="index">Home</a>
                    <!-- <ul>
                        <li><a href="index">Home One</a></li>
                        <li><a href="index-2">Home Two</a></li>
                        <li><a href="index-3">Home Three</a></li>
                      </ul> -->
                  </li>
                  <li>
                    <a href="about">About Us</a>
                  </li>
                  <li class="">
                    <a href="services">Services</a>
                    <!-- <ul>
                        <li><a href="services">service</a></li>
                        <li>
                          <a href="service-details">service-details</a>
                        </li>
                      </ul> -->
                  </li>
                  <!-- <li class="menu-item-has-children">
                      <a href="project">Projects</a>
                      <ul>
                        <li><a href="project">Project</a></li>
                        <li>
                          <a href="project-details">Project-details</a>
                        </li>
                      </ul>
                    </li> -->
                  <!-- <li class="menu-item-has-children">
                      <a href="blog-grid">Blog</a>
                      <ul>
                        <li><a href="blog-grid">Blog Grid</a></li>
                        <li><a href="blog-details">Blog Details</a></li>
                      </ul>
                    </li> -->
                  <!-- <li class="menu-item-has-children">
                      <a href="#">Pages</a>
                      <ul>
                        <li><a href="team">Team</a></li>
                        <li><a href="team-details">Team Details</a></li>
                        <li><a href="pricing">Pricing</a></li>
                        <li><a href="faq">Faq</a></li>
                        <li><a href="error">404 Error</a></li>
                      </ul>
                    </li> -->
                  <li class="">
                    <a href="faq">FAQ</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /.header-menu-wrap -->
            <div class="header-right">
              <a href="contact" class="pb-primary-btn header-btn"
                >Contact<i class="fa-regular fa-arrow-right"></i
              ></a>
              <div class="header-right-item">
                <a
                  id="mobile-side-menu-toggle"
                  href="javascript:void(0)"
                  class="mobile-side-menu-toggle d-lg-none"
                  ><i class="fa-sharp fa-solid fa-bars"></i
                ></a>
              </div>
            </div>
            <!-- /.header-right -->
          </div>
          <!-- /.primary-header-inner -->
        </div>
      </div>
      <!-- /.primary-header -->
    </header>
    <!-- /.Main Header -->

    <div id="popup-search-box">
      <div class="box-inner-wrap d-flex align-items-center">
        <form id="form" action="#" method="get" role="search">
          <input
            id="popup-search"
            type="text"
            name="s"
            placeholder="Type keywords here..."
          />
        </form>
        <div class="search-close">
          <i class="fa-sharp fa-regular fa-xmark"></i>
        </div>
      </div>
    </div>
    <!-- /#popup-search-box -->

    <div class="preloader">
      <img src="assets/img/logo/proloader.gif" alt="preloader-icon" />
    </div>
    <!--/.site-preloader-->

    <div class="mobile-side-menu">
      <div class="side-menu-content">
        <div class="side-menu-head">
          <a href="index"
            ><img src="assets/img/logo/logo-dark.png" alt="logo"
          /></a>
          <button id="mobile-side-menu-close" class="mobile-side-menu-close">
            <i class="fa-regular fa-xmark"></i>
          </button>
        </div>
        <div class="side-menu-wrap"></div>
        <div class="contact-item item-2">
          <ul class="contact-list">
            <li>Address : <span>New Delhi, India</span></li>
            <li>Phone : <a href="tel:+918588040756">+91 8588 040 756</a></li>
            <li>
              Email :
              <a href="mailto:team@saralofficial.com">team@saralofficial.com</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.mobile-side-menu -->
    <div id="mobile-side-menu-overlay" class="mobile-side-menu-overlay"></div>
    <script src="../assets/js/vendor/jquary-3.6.0.min.js"></script>
    <script src="../assets/js/vendor/bootstrap-bundle.js"></script>
    <script src="../assets/js/vendor/imagesloaded-pkgd.js"></script>
    <script src="../assets/js/vendor/waypoints.min.js"></script>
    <script src="../assets/js/vendor/venobox.min.js"></script>
    <script src="../assets/js/vendor/odometer.min.js"></script>
    <script src="../assets/js/vendor/meanmenu.js"></script>
    <script src="../assets/js/vendor/jquery.isotope.js"></script>
    <script src="../assets/js/vendor/nice-select.js"></script>
    <script src="../assets/js/vendor/easypiechart.min.js"></script>
    <script src="../assets/js/vendor/wow.min.js"></script>
    <script src="../assets/js/vendor/swiper.min.js"></script>
    <script src="../assets/js/vendor/smooth-scroll.js"></script>
    <script src="../assets/js/ajax-form.js"></script>
    <script src="../assets/js/main.js"></script>
  </body>
</html>
